<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <base href="/">

    <!--<title><%= title %></title>-->
    <title>Stycki | Online Collaborative Sticky Board</title>
    <meta name="description" content="<%= ogDescription %>" />

    <meta property="og:title" content="<%= ogTitle %>" />
    <meta property="og:site_name" content="<%= ogSiteName %>"/>
    <meta property="og:url" content="<%= ogUrl %>" />
    <meta property="og:description" content="<%= ogDescription %>" />
    <meta property="og:image" content="<%= ogImage %>" />
    <meta property="og:type" content="<%= ogType %>"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ANDacademy">
    <meta name="twitter:title" content="<%= ogTitle %>">
    <meta name="twitter:description" content="<%= ogDescription %>">

    <link rel="stylesheet" href="public/fonts/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <!--<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,400italic,300italic,700italic' rel='stylesheet' type='text/css'>-->
    <link href="http://fonts.googleapis.com/css?family=Kalam:400,700,300&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="public/lib.css"/>
    <link rel="stylesheet" href="public/app.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body data-ng-app="app">

<div template="splash" ng-class="{inactive:!$root.showUnder()}" style="z-index: 1000001"></div>
<div template="splash" ng-class="{inactive:!$root.showSplash()}">
    <div class="splash">
        <!--<div class="splash-title">Stycki</div>-->
        <div class="splash-title">
            <div>Welcome</div>
            <!--<i class="fa fa-circle-o-notch fa-spin "></i>-->
        </div>
    </div>
</div>

<header-item></header-item>
<dialog-item></dialog-item>
<profile-pic-item></profile-pic-item>

<div class="view">
    <menu-item></menu-item>

    <div class="screens">

        <div ui-view></div>

    </div>
</div>
<script type="text/ng-template" id="dialog.html">
    <div template="dialog">
        <div class="dialog" ng-class="{active:isActive()}" ng-click="closeDialog();">
            <div class="dialog-box" ng-click="$event.stopPropagation()">
                <div class="dialog-header">
                    {{getTitle()}}
                    <i class="fa fa-times pull-right" style="cursor: pointer" ng-click="closeDialog();"></i>
                </div>
                <div class="dialog-label">{{getMessage()}}</div>
                <input class="dialog-input" placeholder="{{getPlaceholder()}}" ng-model="content.default"/>
                <div class="butn primary" ng-click="submit(content.default)"> <i class="fa fa-check"></i> &nbsp; Submit</div>
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="header.html">
    <div template="header">
        <div class="header">
            Stycki

            <div class="pull-right">
                Hi {{getUser().name}}

                <img class="profile" ng-src="{{getUser().img}}" ng-click="showAvatars()" />
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="menu.html">
    <div template="menu">
        <div class="menu" ng-class="{'shrink': isShrunk()}">

            <div class="menu-items">

                <div class="menu-item" ui-sref="home" ng-class="{'active':isScreen('home')}">
                    <i class="fa fa-home fa-fw"></i> &nbsp;
                    My Walls
                </div>
                <div class="sub-menu-item"
                     ui-sref="wall({id:wall._id, name:wall.name})"
                     ng-repeat="wall in getWalls() track by wall._id"
                     ng-class="{'active':isWall(wall._id)}"
                >
                    <!--<i class="fa fa-star fa-fw"></i> &nbsp;-->
                    <i class="fa fa-star"></i> &nbsp; #{{wall.name}}
                </div>
                <div class="menu-item">
                    <i class="fa fa-info fa-fw"></i> &nbsp;
                    Tutorial
                    <em>
                        <small><strong>
                            <small>- Coming Soon</small>
                        </strong></small>
                    </em>
                </div>
                <div class="menu-item">
                    <i class="fa fa-cog fa-fw"></i> &nbsp;
                    Settings
                    <em>
                        <small><strong>
                            <small>- Coming Soon</small>
                        </strong></small>
                    </em>
                </div>
                <div class="menu-item">
                    <i class="fa fa-comment fa-fw"></i> &nbsp;
                    Feedback
                    <em>
                        <small><strong>
                            <small>- Coming Soon</small>
                        </strong></small>
                    </em>
                </div>
                <div class="menu-item" ng-click="logout()">
                    <i class="fa fa-sign-out fa-fw"></i> &nbsp;
                    Logout
                </div>
            </div>


            <div class="shrink-button" ng-click="shrinkMe()">
                <i class="fa fa-chevron-left"></i>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="login.html">
    <div template="login">
        <div class="login">
            <div class="login-title">Stycki</div>
            <div class="login-box">
                <!--<div class="login-header">Welcome</div>-->

                <div class="login-label">Email</div>
                <input class="login-input" ng-model="email" ng-change="clearError()" ng-enter="checkUser({email:email, password:password})" autofocus/>

                <div class="login-label">Password</div>
                <input type="password" class="login-input" ng-model="password" ng-change="clearError()" ng-enter="checkUser({email:email, password:password})"/>

                <p ng-show="errorMessage()">{{errorMessage()}}</p>
                <div class="login-hr" ng-show="errorMessage()"></div>
                <p>Forgot your password?</p>
                <div class="login-hr"></div>
                <div class="butn" ng-click="checkUser({email:email, password:password})">Login &nbsp; <i class="fa fa-check"></i></div>
                <div class="login-hr"></div>
                <div class="login-butns">
                    <div class="butn secondary" ui-sref="register">Create Account &nbsp; <i class="fa fa-user-plus"></i></div>
                    <div class="butn secondary" ng-click="setGuest()">Guest &nbsp; <i class="fa fa-smile-o"></i></div>
                </div>
            </div>



        </div>
    </div>
</script>
<script type="text/ng-template" id="note.html">
    <div template="note">
        <div class="note shadow deleted" style="{{getRotation()}}" ng-style="getStyle()" ng-click="hideContext()" ng-mouseleave="hideContext()">
            <div class="note-box color-{{color}}">
                <div class="note-header">
                    <div class="header-icon pull-left" ng-click="setColor()">
                        <i class="fa fa-circle fa-fw"></i>
                    </div>

                    <div class="header-icon pull-left">
                        <div class="note-menu" ng-class="{active:usersVisible()}">
                            <div class="menu-item" ng-click="assignUser(undefined)">
                                Unassign
                            </div>
                            <div class="menu-item"
                                 ng-repeat="user in getUsers() track by user._id"
                                 ng-click="assignUser(user._id)"
                            >
                                <img class="menu-icon" src="{{user.img}}" class="profile"/>
                                {{user.name}}
                            </div>
                        </div>
                        <i class="fa fa-user fa-fw" ng-click="showUsers();$event.stopPropagation()"></i>
                    </div>

                    <div class="header-icon pull-right" ng-click="removeNote()">
                        <i class="fa fa-times fa-fw"></i>
                    </div>

                    <div class="header-icon pull-right">
                        <div class="note-menu" ng-class="{active:settingsVisible()}">
                            <div class="menu-item" ng-click="updateLink()">
                                Set Link
                            </div>
                        </div>
                        <i class="fa fa-cog fa-fw" ng-click="showSettings();$event.stopPropagation()"></i>
                    </div>

                </div>
                <div class="note-content">
                    <!--{{hello()}}-->
                    <!--{{getAssignedUser()}}-->
                    <!--{{getLink()}}-->
                    <div class="note-text" contenteditable
                         ng-keyup="updateText($event)"
                         ng-blur="setText($event)"
                         ng-bind="getText()"
                    ></div>
                </div>

                <div class="note-profile" ng-class="{active:getAssignedUser()}" ng-click="showUsers();$event.stopPropagation()">
                    <img ng-src="{{getAssignedUser().img}}" class="profile"/>
                </div>

                <div class="note-link" ng-class="{active:getLink()}">
                    <a ng-href="{{getLink()}}" target="_blank">
                        <i class="fa fa-external-link"></i>
                    </a>

                </div>
            </div>


        </div>
    </div>
</script>
<script type="text/ng-template" id="profile-pic.html">
    <div template="profile-pic">
        <div class="profile-pic" ng-class="{active:isVisible()}" ng-click="close();">
            <div class="profile-pic-box" ng-click="selectAvatar(avatar)" ng-repeat="avatar in getAvatars() track by $index">
                <img ng-src="{{avatar}}" alt="">
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="register.html">
    <div template="register">
        <div class="register">
            <div class="register-title" style="margin-top: -350px;">Create Account</div>
            <div class="register-box">
                <!--<div class="register-header">Welcome</div>-->

                <div class="register-label">First Name *</div>
                <input class="register-input" ng-model="name" ng-change="clearError()" ng-enter="register(name, email, password)" autofocus/>

                <div class="register-label">Email *</div>
                <input type="email" class="register-input" ng-model="email" ng-change="clearError()" ng-enter="register(name, email, password)"/>

                <div class="register-label">Password *</div>
                <input type="password" class="register-input" ng-model="password" ng-change="clearError()" ng-enter="register(name, email, password)"/>

                <div class="register-hr" ng-show="errorMessage()"></div>
                <p ng-show="errorMessage()">{{errorMessage()}}</p>
                <div class="register-hr"></div>
                <div class="butn" ng-click="register(name, email, password)">Register &nbsp; <i class="fa fa-check"></i> </div>
                <div class="register-hr"></div>
                    <div class="butn secondary" ui-sref="login">
                        Back &nbsp; <i class="fa fa-times"></i>
                    </div>
            </div>



        </div>
    </div>
</script>
<script type="text/ng-template" id="section.html">
    <div template="section">
        <div class="section deleted" ng-style="getStyle()">
            <div class="section-header">
                <input class="section-title" value="To Do" ng-model="text" ng-change="updateText()" ng-blur="setText()"/>
                <div class="header-icon pull-right" ng-click="removeSection()">
                    <i class="fa fa-times"></i>
                </div>
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="settings.html">
    <div template="settings">
        <div class="settings" ng-class="{active:active}">
            <!--<div class="settings-item" ng-click="getWallName()">#{{wall.name}}</div>-->
            <div class="settings-item" ng-click="getWallName()"><i class="fa fa-pencil fa-fw"></i> &nbsp; Change Name</div>
            <div class="settings-item" ng-click="removeWall()"><i class="fa fa-times fa-fw"></i> &nbsp; Remove Wall</div>
            <!--<div class="settings-item" ng-click="getWallName()">Change Name</div>-->

        </div>
    </div>
</script>
<script type="text/ng-template" id="wall.html">
    <div template="wall">
        <div class="wall">

            <settings-item wall="wall" active="showSettings()"></settings-item>
            <div class="wall-header">
                <i class="fa fa-star pull-left" style="color: #e9b50b;cursor:pointer;" title="Favourite"></i>

                #{{wall.name}}

                <i class="wall-settings fa fa-cog pull-right" ng-click="toggleSettings()"></i>
            </div>

            <div class="wall-menu">
                <div class="menu-item" ng-click="changeScale(0.1)"><i class="fa fa-plus"></i></div>
                <div class="menu-item" ng-click="changeScale(-0.1)"><i class="fa fa-minus"></i></div>
            </div>

            <div class="wall-menu-2">
                <!--<div class="menu-item add-note" ng-click="addNote($event)"><i class="fa fa-plus"></i></div>-->
                <div class="menu-item" ng-click="addSection($event)"><i class="fa fa-square-o"></i></div>
            </div>

            <div class="wall-zoom" >
                <div class="wall-canvas" ng-click="addNote($event)" ng-style="{'transform': 'scale(' + getScale() + ')', 'transform-origin' : getOrigin()}">
                    <note-item ng-repeat="note in getNotes() track by note._id"
                               id="note._id"
                               wall="note.wall"
                               color="note.color"
                               top="note.top"
                               left="note.left"
                               text="note.text"
                               z-index="note['z-index']"
                               assigned-user="note.assignedUser"
                               link="note.link"
                    ></note-item>

                    <section-item  ng-repeat="section in getSections() track by section._id"
                                   id="section._id"
                                   wall="section.wall"
                                   color="section.color"
                                   top="section.top"
                                   left="section.left"
                                   height="section.height"
                                   width="section.width"
                                   text="section.text"
                    ></section-item>
                </div>
            </div>


        </div>
    </div>
</script>
<script type="text/ng-template" id="wall-list.html">
    <div template="wall-list">
        <div style="width:200px;">
            <div class="butn primary-2" ng-click="addWall()"><i class="fa fa-plus"></i> &nbsp; Add Wall</div>
        </div>

        <div ng-if="getWalls().length == 0"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></div>
        <div ng-if="getWalls().length != 0">

            <h2>Public Walls</h2>

            <div class="wall-list">
                <div class="wall"
                     ng-repeat="wall in getWalls() track by wall._id"
                     ui-sref="wall({id:wall._id, name:wall.name})">
                    #{{wall.name}}
                </div>
            </div>

            <!--<h2 style="padding: 15px 0;">Private Walls</h2>-->
        </div>
    </div>
</script>
<script type="text/ng-template" id="bootcamp-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container">
            <div style="margin-top: 30px;"></div>
            <h1 style="text-align: center;color: #d93621;font-size: 60px;">Bootcamp</h1>


            <div style="display: flex;flex-direction: row;margin-bottom: 30px;">
                <div style="flex: 1;margin-right: 30px;background: white;padding: 30px; box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;">
                    <h2 style="color: #d93621">Kick-Off</h2>

                    <p>
                        ANDbootcamp is where we kick things off. It’s a 5 week tailored training programme which focusses on our areas of expertise – delivery techniques, digital, technology – combined with training in the professional skills required to deliver great work.
                    </p>

                    <p>
                        Through our workshop style sessions, teambuilding activities, case studies and hands on simulation we build cohesive, poly-skilled teams who are ready to respond to our clients’ needs.
                    </p>
                </div>

                <div style="flex: 1;border: white 3px solid;box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;background-size:cover;background-position:center;background-image: url('public/img/100session1.jpg')">

                </div>

            </div>

            <div style="display: flex;flex-direction: row;margin-bottom: 30px;height: 300px;">
                <div style="margin-right:30px;flex: 1;border: white 3px solid;box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;background-size:cover;background-position:center;background-image: url('public/img/160session1.jpg')"></div>
                <div style="margin-right:30px;flex: 1;border: white 3px solid;box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;background-size:cover;background-position:center;background-image: url('public/img/154session1.jpg')"></div>
                <div style="flex: 1;border: white 3px solid;box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;background-size:cover;background-position:center;background-image: url('public/img/010session3.jpg')"></div>

            </div>


            <div style="display: flex;flex-direction: row;margin-bottom: 30px;">

                <div style="flex: 1;border: white 3px solid;box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;background-size:cover;background-position:center;background-image: url('public/img/003session1.jpg')"></div>

                <div style="flex: 1;margin-left: 30px;background: white;padding: 30px; box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;">
                    <h2 style="color: #d93621">Join The Academy</h2>

                    <p>
                        Following ANDbootcamp, we provide a wealth of upskilling resources in our ANDacademy for our people and for clients to share - you’ll find a huge catalogue of learning across classroom training, online learning, community development and one-to-one coaching.
                    </p>
                    <p>
                        Our buzzy ANDacademy community site is where curious minds share and discuss their passions and knowledge and our Head Coaches provide expert opinions and points of view.
                    </p>


                </div>

            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen>
        <wall-list-item></wall-list-item>

    </div>
</script>
<script type="text/ng-template" id="login-screen.html">
    <div screen style="position: fixed;z-index: 2000000;">
        <login-item></login-item>
    </div>
</script>
<script type="text/ng-template" id="register-screen.html">
    <div screen style="position: fixed;z-index: 2000000;">
        <register-item></register-item>
    </div>
</script>
<script type="text/ng-template" id="wall-screen.html">
    <div screen>
        <div ng-if="!getWall()" style="padding: 30px 15px;"><i class="fa fa-circle-o-notch fa-2x fa-spin"></i> Loading</div>
        <wall-item
                ng-if="getWall()"
                wall="getWall()"
        ></wall-item>

    </div>
</script>

<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>

<script src="public/lib.js"></script>
<script src="public/app.js"></script>

</body>
</html>